<div class="zerogrid">
  <div class="row">
    <div class="main-content">
      <div class="row">
        <article>
          <div class="heading">
            <h2>Список пользователей</h2>
          </div>
          <div class="content">
            <% if @users.empty? %>
              В настоящее время ни одного пользователя не зарегистрировано..
            <% else %>
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Логин</th>
                  <th>Регистрация</th>
                  <th>Сообщений</th>
                  <th>Последний визит</th>
                  <th>Аватар</th>
                </tr>
                </thead>
                <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= user.created_at.to_formatted_s :ru_datetime %></td>
                    <td>0</td>
                    <td><%= user.last_sign_in_at.to_formatted_s :ru_datetime %></td>
                    <td><%= image_tag user.profile.avatar_url, class: 'photo-icon' if user.profile.avatar? %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </article>

      </div>
    </div>
  </div>
</div>
