<div id="profilePage">
  <div id="leftCol">
    <div id="photo"></div>
    <div id="profileOptions">
      a
    </div>
  </div>
  <div id="info">
    <p>
      <strong>Имя:</strong>
      <span>Sirjon</span>
    </p>

    <p>
      <strong>Name:</strong>
      <span>Sirjon</span>
    </p>

    <p>
      <strong>Name:</strong>
      <span>Sirjon</span>
    </p>

    <p>
      <strong>Name:</strong>
      <span>Sirjon</span>
    </p>

    <p>
      <strong>Name:</strong>
      <span>Sirjon</span>
    </p>
  </div>
  <div class="clear"></div>
</div>