<div class="zerogrid">
  <div class="row">
    <div class="main-content">
      <div class="row">
        <div class="col-2-3">
          <article>
            <div class="heading">
              <h2><a href="single.html">Sed vestibulum dui et tellus congue molestie.</a></h2>
              <p class="info">>>> Posted by Admin - 01/01/2012 - 0 Comments</p>
            </div>
            <div class="content">
              <img src="images/img1.jpg"/>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
            <div class="footer">
              <p class="more"><a class="button" href="single.html">Read more >></a></p>
            </div>
          </article>
          <article>
            <div class="heading">
              <h2><a href="single.html">Nunc quis dui ipsum, eu egestas purus.</a></h2>
              <p class="info">>>> Posted by Admin - 01/01/2012 - 0 Comments</p>
            </div>
            <div class="content">
              <img src="images/img2.jpg"/>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
            <div class="footer">
              <p class="more"><a class="button" href="single.html">Read more >></a></p>
            </div>
          </article>
          <article>
            <div class="heading">
              <h2><a href="single.html">Sed vestibulum dui et tellus congue molestie.</a></h2>
              <p class="info">>>> Posted by Admin - 01/01/2012 - 0 Comments</p>
            </div>
            <div class="content">
              <img src="images/img3.jpg"/>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
            <div class="footer">
              <p class="more"><a class="button" href="single.html">Read more >></a></p>
            </div>
          </article>
        </div>
        <div class="sidebar col-1-3">
          <section>
            <div class="heading">About us</div>
            <div class="content">
              Free Basic Html5 Templates created by <a href="http://www.zerotheme.com">Zerotheme</a>. You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files.
            </div>
          </section>
          <section>
            <div class="heading">Categories</div>
            <div class="content">
              <ul>
                <li><a href="http://www.zerotheme.com">Free Html5 Templates</a></li>
                <li><a href="http://www.zerotheme.com">Free Css3 Templates</a></li>
                <li><a href="http://www.zerotheme.com">Free Responsive Html5 Templates</a></li>
                <li><a href="http://www.zerotheme.com">Free Basic Html5 Templates</a></li>
                <li><a href="http://www.zerotheme.com">Free Layout Html5 Templates</a></li>
              </ul>
            </div>
          </section>
          <section>
            <div class="heading">Flickr Photos</div>
            <div class="content">
              <table border="0px">
                <tr>
                  <td><img src="images/f1.jpg"/></td>
                  <td><img src="images/f2.jpg"/></td>
                  <td><img src="images/f3.jpg"/></td>
                </tr>
                <tr>
                  <td><img src="images/f4.jpg"/></td>
                  <td><img src="images/f5.jpg"/></td>
                  <td><img src="images/f6.jpg"/></td>
                </tr>
              </table>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>