<div class="zerogrid">
  <div class="row">
    <div class="main-content">

      <% if @photos.nil? %>



      <% else %>

          <% if @photos.empty? %>
              В настоящее время в данный альбом еще не были загружены фотографии..
          <% else %>

              <% @photos.each do |photo| %>
                  <div class="col04" style="text-align:center;">
                    <% unless photo.image.nil? %>
                        <%= link_to "#{photo.image}", rel: 'prettyPhoto[gallery]' do %>
                            <%= image_tag path_to_image(photo.image), class: 'photo_image', title: photo.name, alt: photo.name %>
                        <% end %>
                        <%= link_to t('Destroy'), create_url('gallery', photo.album.album_url, photo.id), method: :delete, data: {confirm: t('Are you sure?')}, class: 'link' %>
                        <% if false #photo.comments.present? %>
                            <p>
                              #comments..
                            </p>
                        <% end %>
                    <% end %>

                  </div>
              <% end %>

          <% end %>

          <% if @album.user == current_user %>
              <div class="clearfix"></div>
              <hr>
              <%= link_to t('upload_image'), new_image_path %>
          <% end %>

      <% end %>

    </div>
  </div>
</div>