// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.zerogrid {
  .row {
    input[type=text],input[type=email],input[type=password] {
      width: 200px;
      height: 25px;
      padding: 1px;
      padding-left: 5px;
      font-size: 15px;
      border-radius: 3px;
      margin: 3px;
    }
    .button {
      margin: 5px;
    }
    .album_image {
      padding:5px;
      border:1px solid #ccc;
    }
  }
}
.main-content .row article .content table.table tr td {
  padding: 3px;
  line-height: 35px;
  img {
    border: none;
  }
}
.notice {
  text-align: center;
  padding: 5px;
}
#slider {
  img {
    height: 400px;
  }
}