<header>
  <div id="logo">
    <%= link_to root_path do %>
        <%= image_tag path_to_image('bg/logo4.png') %>
    <% end %>
  </div>
  <div id="search">
    <div class="button-search"></div>
    <input type="text" placeholder="Search...">
  </div>
</header>